<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mapper.AnswerMapper">

    <select id="findByEntityAndAttrs" resultType="Model.Answer">
        SELECT e.entity_id, e.entity_name, c.concept_name AS attr_name, a.attr_value
        FROM concepts c, entities e, entity_attr a
        <where>
            a.attr_id = c.c_id and a.entity_id = e.entity_id and e.entity_name = #{arg0} and c.concept_name in
            <foreach collection="arg1" open="(" close=")" item="attr" separator=",">
                #{attr}
            </foreach>
        </where>
    </select>

    <select id="findByCountryAndCategory" resultType="Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        <where>
            c.concept_name = #{arg1} and c.c_id = e.concept_id  and e.entity_id = a.entity_id and attr_value = #{arg0}
        </where>
    </select>

</mapper>