<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.qa.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.qa.Mapper.AnswerMapper">

    <select id="getMatchDict" resultType="casia.isiteam.qa.Model.DictMatcher">
        SELECT word, alias, label
        FROM match_dict
    </select>
    <insert id="saveQAInfo">
        INSERT INTO history_qa(uid, time, question, answer)
        VALUES (#{uid}, #{q_time}, #{question}, #{answer})
    </insert>

    <select id="findByCategory" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e
        WHERE c.concept_name = #{category} and c.c_id = e.concept_id
    </select>

    <select id="findByCountryAndCategory" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE c.concept_name = #{category} and c.c_id = e.concept_id  and e.entity_id = a.entity_id and attr_value = #{country}
    </select>

    <select id="findByEntity" resultType="casia.isiteam.qa.Model.Answer">
        SELECT entity_id, entity_name
        FROM entities
        WHERE entity_name like  concat('%', #{entity}, '%')
    </select>

    <select id="findByEntityAndAttrs" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name, c.concept_name AS attr_name, a.attr_value
        FROM concepts c, entities e, entity_attr a
        <where>
            a.attr_id = c.c_id and a.entity_id = e.entity_id and e.entity_name = #{entity} and c.concept_name in
            <foreach collection="attrs" open="(" close=")" item="attr" separator=",">
                #{attr}
            </foreach>
        </where>
    </select>

    <select id="findMaxByAttrInAllCategory" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE c.concept_name = #{attr} and c.c_id = a.attr_id and e.entity_id = a.entity_id
        ORDER BY a.attr_value_reg * 1 DESC LIMIT 1
    </select>

    <select id="findMinByAttrInAllCategory" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE c.concept_name = #{attr} and c.c_id = a.attr_id and e.entity_id = a.entity_id
        ORDER BY a.attr_value_reg * 1 ASC LIMIT 1
    </select>

    <select id="findMaxByAttrInSingleCategory" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
        and c.concept_name = #{attr} and a.attr_id = c.c_id and a.entity_id = e.entity_id
        ORDER BY a.attr_value_reg * 1 DESC LIMIT 1
    </select>

    <select id="findMinByAttrInSingleCategory" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
        and c.concept_name = #{attr} and a.attr_id = c.c_id and a.entity_id = e.entity_id
        ORDER BY a.attr_value_reg * 1 ASC LIMIT 1
    </select>

    <select id="findInSingleRangeByUnit" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
        and c.concept_name = #{attr} and a.attr_id = c.c_id and a.entity_id = e.entity_id and a.attr_value_reg ${operator} #{unit_item} * 1
        ORDER BY a.attr_value_reg * 1 ASC
    </select>

    <select id="findInSingleRangeByTime" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
        and c.concept_name = #{attr} and a.attr_id = c.c_id and a.entity_id = e.entity_id and a.attr_value_reg ${operator} #{time_item}
        ORDER BY a.attr_value_reg * 1 ASC
    </select>

    <select id="findInMultiRangeByUnit" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
        and c.concept_name = #{attr} and a.attr_id = c.c_id and a.entity_id = e.entity_id and a.attr_value_reg ${operator_1} #{item_1} * 1 and a.attr_value_reg ${operator_2} #{item_2} * 1
        ORDER BY a.attr_value_reg * 1 ASC
    </select>

    <select id="findInMultiRangeByTime" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM concepts c, entities e, entity_attr a
        WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
        and c.concept_name = #{attr} and a.attr_id = c.c_id and a.entity_id = e.entity_id and a.attr_value_reg ${operator_1} #{item_1} and a.attr_value_reg ${operator_2} #{item_2}
        ORDER BY a.attr_value_reg ASC
    </select>

    <select id="findMultiAttrInSingleRangeByUnit" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM (SELECT e.entity_id, c.concept_name, a.attr_value
                    FROM concepts c, entities e, entity_attr a
                    WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
                    and c.concept_name = #{attr_1} and a.attr_id = c.c_id and a.entity_id = e.entity_id and a.attr_value_reg ${operator_1} #{item_1} * 1) t, entity_attr a, concepts c, entities e
        WHERE c.concept_name = #{attr_2} and a.attr_id = c.c_id and a.entity_id = t.entity_id and t.entity_id = e.entity_id and a.attr_value_reg ${operator_2} #{item_2} * 1
        ORDER BY a.attr_value_reg * 1 ASC
    </select>

    <select id="findMultiAttrInSingleRangeByTimeAndUnit" resultType="casia.isiteam.qa.Model.Answer">
        SELECT e.entity_id, e.entity_name
        FROM (SELECT e.entity_id, c.concept_name, a.attr_value
                    FROM concepts c, entities e, entity_attr a
                    WHERE e.concept_id = (SELECT c_id FROM concepts WHERE concept_name = #{category})
                    and c.concept_name = #{attr_1} and a.attr_id = c.c_id and a.entity_id = e.entity_id and a.attr_value_reg ${operator_1} #{item_1} * 1) t, entity_attr a, concepts c, entities e
        WHERE c.concept_name = #{attr_2} and a.attr_id = c.c_id and a.entity_id = t.entity_id and t.entity_id = e.entity_id and a.attr_value_reg ${operator_2} #{item_2}
        ORDER BY a.attr_value_reg ASC
    </select>
</mapper>